*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  background: #000;
}

a {
  text-decoration: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  z-index: -1;
  background-image: url('./assets/images/Endless Love.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 70%;
}

.container {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  max-height: 550px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px #000;
}

.song-img {
  background-image: url('./assets/images/Endless Love.jpg');
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: scale(1);
  transition: 0.3s;
}

.song-img.active {
  transform: scale(1.05);
}

.audio-player__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-self: flex-end;
  background-color: #000;
  height: 30%;
  bottom: 0;
  padding: 5px 5px 10px 5px;
}

.song-name__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 55%;
}

.song-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 5px;
  color: #03f703;
}

.song-autor {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 10px;
  filter: invert(1);
}

.buttons__box {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  width: 90%;
  align-self: center;
}

.prev-song {
  cursor: pointer;
  background-image: url('./assets/icons/prev.svg');
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  filter: invert(1);
}

.prev-song:hover {
  filter: brightness(0) saturate(100%) invert(49%) sepia(90%) saturate(2196%) hue-rotate(83deg) brightness(118%) contrast(126%);
}

.pause {
  cursor: pointer;
  background-image: url('./assets/icons/play.svg');
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
  filter: invert(1);
}

.pause:hover {
  filter: brightness(0) saturate(100%) invert(49%) sepia(90%) saturate(2196%) hue-rotate(83deg) brightness(118%) contrast(126%);
}

.play {
  cursor: pointer;
  background-image: url('./assets/icons/pause.svg');
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
  filter: invert(1);
}

.next-song {
  cursor: pointer;
  background-image: url('./assets/icons/next.svg');
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: contain;
  filter: invert(1);
}

.next-song:hover {
  filter: brightness(0) saturate(100%) invert(49%) sepia(90%) saturate(2196%) hue-rotate(83deg) brightness(118%) contrast(126%);
}

.music-progress__box {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 5px;
  align-items: center;
}

.progress__container {
  width: 60%;
  height: 5px;
  background-color: #fff;
  cursor: pointer;
}

.progress-bar {
  width: 0;
  background-color: #03f703;
  height: 100%;
}

.current-time {
  color: #fff;
}

.duration-time {
  color: #fff;
}

.volume__box {
  position: absolute;
  left: 90%;
  bottom: 4%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 5px 5px;
  margin-left: 5px;
  height: 120px;
  justify-content: flex-end;
  width: 25px;
}

.volume-button {
  background-image: url('./assets/icons/volume-active.svg');
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  filter: invert(1);
  cursor: pointer;
}

.volume-button.muted {
  background-image: url('./assets/icons/volume-mute.svg');
}

.volume-progress__container {
  width: 8px;
  height: 0;
  background-color: #fff;
  align-self: center;
  cursor: pointer;
  position: absolute;
  bottom: 27px;
  left: 5px;
  transition: 0.25s;
  z-index: 10;
  transform: rotate(180deg);
}


.volume-progress {
  height: 100%;
  width: 100%;
  background-color: #03f703;
}


footer {
  background-color: #000;
  width: 100%;
  position: absolute;
  top: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 50px 7px 50px;
  gap: 20px;
}

.github {
  color: #fff;
  background-image: url('./assets/icons/github.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  filter: invert(1);
}

.year {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.rsschool {
  background-image: url('./assets/icons/rs_school.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 80px;
  filter: invert(1);
}