*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  display: block;
}

body {
  width: 1440px;
  margin: 0 auto;
  background-color: #000;
}


.header__container {
  padding: 0px 19px 0 20px;
  background: url('./assets/img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.header__logo {
  background-image: url('./assets/svg/logo.svg');
  margin-top: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  width: 50px;
}

.header__logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.menu {
  display: flex;
  margin-right: 32px;
  margin-right: 33px;
  margin-left: auto;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  display: flex;
  padding-top: 20px;
  margin-bottom: 20px;
}

.menu__link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: width 0.4s ease-in-out;
  margin-top: -10px;
}

.menu__link:hover:after,
.menu__link:focus:after {
  width: 100%;
}

.menu__item+.menu__item {
  margin-left: 31px;
}

.language__item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-top: 7px;
  gap: 0px 10px;
}

.language__link-active {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #BDAE82;
}

.language__link-active:hover {
  color: #fff;
}

.language__link-back {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}

.language__link-back:hover {
  color: #bdae82;
}

.hero {
  background-image: url('./assets/img/hero-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero__container {
  padding-left: 80px;
  padding-top: 160px;
  padding-bottom: 330px;
  width: 580px;
  display: flex;
  flex-flow: wrap;
}

.hero__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #fff;
  margin-bottom: 10px;
}

.hero__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 25px;
}

.hero__btn {
  border: 0px;
  background-color: #bdae82;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  width: 220px;
  height: 55px;
}

.hero__btn:hover {
  color: #fff;
}

.hero__btn:active {
  color: #000;
}


.container__title {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 61px;
}

.container__title::before {
  content: "";
  width: 700px;
  height: 2px;
  background-color: #bdae82;
  overflow-x: hidden;
  position: absolute;
  margin-top: 39px;
}

.section__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  background-color: #000;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.skills__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__items {
  background-position: center top;
  padding-top: 100px;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  width: 320px;
  height: 240px;
}

.skill__item {
  display: flex;
  flex-direction: column;
}

.skills__items:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-size: 62px 50px;
}

.skills__items:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-size: 62px 50px;
}

.skills__items:nth-child(3) {
  background-image: url('./assets/svg/image.svg');
  background-size: 78px 58px;
}

.skills__items:nth-child(4) {
  background-image: url('./assets/svg/mic.svg');
  background-size: 34px 50px;
}


.skills__items {
  display: flex;
  justify-content: center;
}

.skill__subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.skill__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  padding-top: 21px;
  margin: 0px 19px 7px 20px;
  text-align: center;
}

.btn__container {
  display: flex;
  justify-content: center;
  margin-left: 272px;
  margin-right: 273px;
}


.btn__link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  background-color: #000;
  border: 2px solid #bdae82;
  cursor: pointer;
  width: 220px;
  height: 55px;
  margin-bottom: 60px;
}

.btn__link:hover {
  color: #fff;
}

.btn__link:active {
  color: #bdae82;
}

.btn__link-active {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  background-color: #bdae82;
  border: 2px solid #bdae82;
  cursor: pointer;
  width: 220px;
  height: 55px;
  margin-bottom: 60px;
  margin-left: 5px;
}

.btn__link-active:hover {
  color: #fff;
}

.btn__link-active:active {
  color: #000;
}

.btn__link+.btn__link {
  margin-left: 5px;
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 25px;
  margin-left: 20px;
}

.portfolio__img {
  width: 450px;
  height: 560px;
}

.video__player {
  width: 1400px;
  margin-left: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__btn-play {
  position: absolute;
  background-image: url('./assets/svg/btn-play.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 135px;
  height: 135px;
  cursor: pointer;
}

.video__btn-play:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


.price__container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.price__card {
  display: flex;
  width: 450px;
  height: 505px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 2px solid #bdae82;
  margin-bottom: 98px;
}

.price__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  color: #fff;
  padding-top: 20px;
}

.price__value {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #BDAE82;
  padding-top: 3px;
}

.price__text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.btn__price {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  background-color: #bdae82;
  border: 2px solid #bdae82;
  cursor: pointer;
  width: 220px;
  height: 55px;
  margin-bottom: 24px;
}

.btn__price:hover {
  color: #fff;
}

.btn__price:active {
  color: #000;
}

.contacts {
  background-image: url('./assets/img/contacts-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row-reverse;
  padding-bottom: 195px;
  padding-right: 20px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
  margin-bottom: 39px;
  padding-top: 60px;
}

.textarea__content {
  display: flex;
  flex-flow: column;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
  margin-bottom: 14px;
}

.input__contacts {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 18px;
  padding-top: 1px;
  outline: none;
  resize: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.textarea {
  border: 2px solid #bdae82;
  background-color: rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 100px;
  margin-bottom: 17px;
  padding-left: 18px;
  padding-top: 4px;
  resize: none;
  outline: none;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
}

.input__contacts::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.textarea::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
}

.btn__contacts {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  background-color: #bdae82;
  border: 2px solid #bdae82;
  cursor: pointer;
  width: 220px;
  height: 55px;
}

.btn__contacts:hover {
  color: #fff;
}

.btn__contacts:active {
  color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
}

.footer__leftside {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin-left: 20px;
}

.footer__year {
  margin-left: 21px;
}

.footer__github-link {
  margin-left: 20px;
}

.footer__github-link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: width 0.4s ease-in-out;
  margin-top: -10px;
}

.footer__github-link:hover:after,
.footer__github-link:focus:after {
  width: 100%;
}


.footer__middleside {
  margin-left: 18px;
}

.footer__rsschool-link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: width 0.4s ease-in-out;
  margin-top: -10px;
}

.footer__rsschool-link:hover:after,
.footer__rsschool-link:focus:after {
  width: 100%;
}

.footer__rightside-list {
  display: flex;
  width: 188px;
  margin-right: 19px;
  justify-content: space-between;
  align-items: center;
}

.footer__rightside-item {
  display: flex;
  justify-content: center;
}

.footer__social-link img {
  display: flex;
}

.footer__social-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}