*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}

body.light {
  background-color: #fff;
  color: #1C1C1C;
}

body.lock {
  overflow: hidden;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  display: block;
}


.header__container {
  padding: 0px 0px 0 20px;
  background: url('./assets/img/dark/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.header__container.light {
  background-image: url('./assets/img/light/light-hero-bg.jpg');
}

.header__top {
  display: grid;
  grid-template-columns: 0.1fr 1.2fr 0.1fr 0.1fr;
  gap: 0px 2px;
}

.header__logo {
  background-image: url('./assets/svg/dark/logo.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 51px;
  height: 50px;
  align-self: center;
  transition: 0.3s ease-out;
}

.header__logo.light {
  background-image: url('./assets/svg/light/light-logo.svg');
}

.header__logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.menu {
  display: grid;
  justify-self: flex-end;
  margin-right: 35px;
}

.menu__list {
  display: flex;
  gap: 0px 31px;
}

.menu__item {
  font-size: 20px;
  line-height: 50px;
  display: flex;
  padding-top: 20px;
  margin-bottom: 20px;
}

.menu__link {
  transition: 0.3s ease-out;
}

.menu__link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.switch-language__container {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  display: flex;
  align-items: center;
  gap: 0px 10px;
  justify-self: center;
}

.language__item {
  transition: 0.3s ease-out;
}

.language__item[data-lang="en"] {
  margin-right: 1px;
}

.language__item[data-lang="ru"] {
  margin-left: 1px;
}

.language__item.active {
  color: #BDAE82;
  transition: 0.3s ease-out;
}

.language__item.active.light {
  color: #fff;
}

.language__item:hover {
  color: #bdae82;
}

.language__item.light:hover {
  color: #fff;
}

.switch__theme {
  background-image: url('./assets/svg/dark/switch-theme-dark.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 45px;
  height: 45px;
  transition: 0.3s ease-out;
  align-self: center;
  justify-self: center;
  border: none;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
}

.switch__theme:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.switch__theme.light {
  background-image: url('./assets/svg/light/switch-theme-light.svg');
}

.hero {
  background-image: url('./assets/img/dark/hero-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  height: 820px
}

.hero.light {
  background-image: url('./assets/img/light/light-hero-bg.jpg');
}

.hero__container {
  padding-left: 80px;
  padding-top: 158px;
  display: inline-flex;
  flex-flow: wrap;
  flex-direction: column;
  max-width: 550px;
}

.hero__title {
  margin-bottom: 10px;
}

.hero__text {
  margin-bottom: 26px;
}

.hero__btn {
  border: 0px;
  background-color: #bdae82;
  cursor: pointer;
  font-size: 20px;
  line-height: 40px;
  color: #000;
  padding: 9px 73px 6px 75px;
  align-self: flex-start;
  transition: 0.3s ease-out;
}

.hero__btn.light {
  background-color: #fff;
  color: #1C1C1C;
}

.hero__btn:hover {
  color: #fff;
}

.hero__btn.light:hover {
  color: #bdae82;
}

.hero__btn:active {
  color: #000;
}

.hero__btn.light:active {
  color: #bdae82;
}


.container__title {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.container__title::before {
  content: "";
  width: 700px;
  height: 2px;
  background-color: #bdae82;
  overflow-x: hidden;
  position: absolute;
  margin-top: 39px;
}

.container__title.light::before {
  background-color: #1C1C1C;
}

.section__title {
  color: #BDAE82;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.section__title.light {
  background: #FFFFFF;
  color: #1C1C1C;
}

.skills__content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 102px;
  gap: 70px 0px;
}

.skills__items {
  background-position: center top;
  padding-top: 100px;
  background-repeat: no-repeat;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.skill__item {
  display: flex;
  flex-direction: column;
}

.skills__items:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-size: 62px 50px;
}

.skills__items:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-size: 62px 50px;
}

.skills__items:nth-child(3) {
  background-image: url('./assets/svg/image.svg');
  background-size: 78px 58px;
}

.skills__items:nth-child(4) {
  background-image: url('./assets/svg/mic.svg');
  background-size: 34px 50px;
}


.skills__items {
  display: flex;
  justify-content: center;
}

.skill__subtitle {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.skill__text {
  font-size: 18px;
  line-height: 36px;
  padding-top: 21px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
  gap: 5px 5px;
}


.btn__portfolio {
  color: #bdae82;
  background-color: #000;
  border: 2px solid #bdae82;
  cursor: pointer;
  padding: 6px 27px 5px 27px;
  width: 220px;
  transition: 0.3s ease-out;
}

.btn__portfolio.light {
  background-color: #bdae82;
  color: #000;
}

.btn__portfolio:hover,
.btn__portfolio:focus {
  transition: 0.9s;
  color: #fff;
  box-shadow: inset 0 0 0 2em #BDAE82;
}

.btn__portfolio.light:hover,
.btn__portfolio.light:focus {
  transition: 0.9s;
  color: #bdae82;
  box-shadow: inset 0 0 0 2em #1C1C1C;
}

.btn__portfolio.active {
  color: #000;
  background-color: #bdae82;
  border: 2px solid #bdae82;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.btn__portfolio.light.active {
  background-color: #1C1C1C;
  color: #bdae82;
}

.portfolio__img {
  max-width: 98%;
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 25px;
  margin-bottom: 100px;
}

.video__player {
  position: relative;
  margin-bottom: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__player img {
  width: 100%;
}

.video__btn-play {
  position: absolute;
  background-image: url('./assets/svg/btn-play.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: contain;
  border: none;
  width: 135px;
  height: 135px;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.video__btn-play:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


.price__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 98px;
  gap: 70px 0px;
}

.price__card {
  display: flex;
  width: 450px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 2px solid #bdae82;
}

.price__title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  padding-top: 41px;
  margin-bottom: 23px;
}

.price__value {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #BDAE82;
  padding-top: 3px;
  display: flex;
  margin-bottom: 20px;
}


.price__text {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.btn__price {
  color: #000;
  background-color: #bdae82;
  border: 2px solid #bdae82;
  cursor: pointer;
  margin-bottom: 22px;
  padding: 6px 36px 5px 37px;
  width: 220px;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  transition: 0.3s ease-out;
  margin-bottom: 40px;
}

.btn__price:hover {
  color: #fff;
}

.btn__price:active {
  color: #000;
}

.contacts {
  background-image: url('./assets/img/dark/contacts-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row-reverse;
  padding-bottom: 195px;
  padding-right: 20px;
}

.contacts.light {
  background-image: url('./assets/img/light/light-contacts-bg.jpg');
}

.contacts__container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.contacts__title {
  color: #BDAE82;
  margin-bottom: 40px;
}

.contacts__title.light {
  color: #1C1C1C;
}

.textarea__content {
  display: flex;
  flex-flow: column;
  gap: 20px 0px;
}

.input__contacts {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  width: 450px;
  height: 50px;
  padding-left: 18px;
  padding-top: 1px;
  outline: none;
  resize: none;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.input__contacts.light {
  background-color: rgba(255, 255, 255, 0.5);
  color: #1C1C1C;
}

.textarea {
  border: 2px solid #bdae82;
  background-color: rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 100px;
  margin-bottom: 30px;
  padding-left: 18px;
  padding-top: 4px;
  resize: none;
  outline: none;
  overflow: hidden;
  color: #bdae82;
  font-size: 20px;
  line-height: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.textarea.light {
  background-color: rgba(255, 255, 255, 0.5);
  color: #1C1C1C;
}

.input__contacts::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.input__contacts.light::placeholder {
  color: #1C1C1C;
}

.textarea::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.textarea.light::placeholder {
  color: #1C1C1C;
}

.btn__contacts {
  color: #000;
  background-color: #bdae82;
  border: 2px solid #bdae82;
  cursor: pointer;
  padding: 6px 36px 9px 37px;
  width: 220px;
  height: auto;
  transition: 0.3s ease-out;
}

.btn__contacts.light {
  background-color: #fff;
  border: none;
}

.btn__contacts:hover {
  color: #fff;
}

.btn__contacts:active {
  color: #000;
}

.btn__contacts.light:hover {
  color: #bdae82;
}

.btn__contacts.light:active {
  color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 50px;
  padding: 50px 15px 0px 15px;
}

.footer__leftside {
  display: flex;
  margin-left: 5px;
}

.footer__year {
  margin-left: 20px;
}

.footer__github-link {
  margin-left: 22px;
  transition: 0.3s ease-out;
}

.footer__github-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


.footer__middleside {
  margin-left: 19px;
}

.footer__rsschool-link {
  transition: 0.3s ease-out;
}

.footer__rsschool-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.footer__rightside-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 188px;
  margin-right: 5px;
}

.footer__rightside-item {
  display: flex;
  justify-content: center;
}

.footer__social-link {
  transition: 0.3s ease-out;
}

.footer__social-icon {
  display: flex;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.inst {
  background-image: url('./assets/svg/dark/inst.svg');
}

.inst.light {
  background-image: url('./assets/svg/light/light-inst.svg');
}

.fb {
  background-image: url('./assets/svg/dark/fb.svg');
}

.fb.light {
  background-image: url('./assets/svg/light/light-fb.svg');
}

.tw {
  background-image: url('./assets/svg/dark/tw.svg');
}

.tw.light {
  background-image: url('./assets/svg/light/light-tw.svg');
}

.pinterest {
  background-image: url('./assets/svg/dark/pinterest.svg');
}

.pinterest.light {
  background-image: url('./assets/svg/light/light-pinterest.svg');
}

.footer__social-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.hamburger__btn {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  user-select: none;
  z-index: 35;
  background: none;
  border: none;
  margin-left: 20px;
}


.line {
  width: 100%;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  z-index: 35;
  transition: all 0.3s ease-in-out;
}

.line.light {
  background: #1C1C1C;
}

.hamburger__btn.active .line1 {
  transform: rotate(-45deg) translate(-6px, 9px);
}

.hamburger__btn.active .line2 {
  opacity: 0;
}

.hamburger__btn.active .line3 {
  transform: rotate(45deg) translate(-9px, -12px);
}

.hamburger__btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}


@media (max-width: 1300px) {
  .header__top {
    gap: 0 10px;
  }

  .skills__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 50px 0px 50px;
    gap: 75px 75px;
  }

  .skills__items {
    width: 300px;
    justify-self: center;
    padding-top: 97px;
    background-position: 50% 10%;
    margin: 0px 0px;
  }
}

@media (max-width: 920px) {
  .btn__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    padding-top: 24px;
    margin-bottom: 60px;
  }

  .btn__portfolio[data-season='winter'] {
    justify-self: end;
  }

  .btn__portfolio[data-season='summer'] {
    justify-self: end;
  }

  .btn__portfolio.active {
    margin-left: 0px;
  }

  .btn__portfolio+.btn__portfolio {
    margin-left: 0px;
  }

  .portfolio__content {
    margin-bottom: 101px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
    line-height: 24px;
  }

  h1 {
    font-size: 32px;
    line-height: 64px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .header__container {
    background-position: -5px -30px;
    background-size: auto 620px;
    padding: 15px 64px 0px 60px;
  }

  .header__top {
    grid-template-columns: 0.1fr 1.2fr 0.1fr 0.1fr 0.1fr;
    gap: 0px 10px;
  }

  .header__logo {
    width: 50px;
    height: 60px;
  }

  .menu__list {
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #BDAE82;
    width: 80vw;
    height: 100vh;
    padding: 134px 0 0 127px;
    gap: 16px 0px;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.8s;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 73px;
  }

  .menu__list.light {
    background-color: #fff;
    color: #1C1C1C;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 73px;
  }

  .menu__list.active {
    transform: translateX(0);
  }

  .menu__item {
    font-size: 35px;
    line-height: 73px;
  }

  .menu__link {
    text-align: center;
    display: block;
  }

  .menu__item {
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
    line-height: 73px;
  }

  .switch-language__container {
    gap: 0px 3px;
    margin-right: 15px;
  }

  .language__er {
    margin-right: 10px;
  }

  .language__ru {
    margin-left: 8px;
  }

  .hamburger__btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  .menu__overlay.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
  }

  .hero {
    background-position: -5px -105px;
    max-height: 516px;
    background-size: auto 620px;
    margin-bottom: 99px;
  }

  .hero__container {
    padding-left: 60px;
    padding-top: 93px;
    width: 450px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__text {
    margin-bottom: 60px;
  }

  .hero__btn {
    padding: 9px 71px 5px 75px;
  }

  .container__title {
    margin-bottom: 45px;
  }

  .container__title::before {
    width: 364px;
    margin-top: 18px;
  }


  .skills__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 55px 0px 55px;
    gap: 55px 30px;
    margin-bottom: 171px;
  }

  .skills__items {
    max-width: 300px;
    justify-self: center;
    padding: 97px 10px 0px 10px;
    background-position: 49% 11%;
    margin: 0px 0px;
  }

  .skill__text {
    font-size: 18px;
    line-height: 22px;
  }

  .video__player {
    padding-top: 24px;
    margin-bottom: 96px;
  }

  .video__btn-play {
    height: 65px;
    width: 65px;
  }

  .price__container {
    padding-top: 24px;
    margin-bottom: 81px;
    gap: 51px 0px;
  }

  .price__card {
    max-width: 420px;
  }

  .price__title {
    margin-bottom: 18px;
  }

  .btn__price {
    margin-bottom: 41px;
  }

  .contacts {
    background-image: url('./assets/img/dark/adaptive-contacts-bg.jpg');
    background-position: 0px 0px;
    background-size: cover;
    justify-content: center;
    padding-bottom: 61px;
    padding-right: 0px;
  }

  .contacts.light {
    background-image: url('./assets/img/light/light-adaptive-contacts-bg.jpg');
  }

  .contacts__container {
    align-items: center;
    padding-bottom: 50px;
  }

  .contacts__title {
    font-size: 32px;
    line-height: 64px;
  }

  .footer {
    line-height: 24px;
    padding-top: 29px;
    flex-direction: column;
    align-items: center;
    margin-right: 4px;
    margin-bottom: 38px;
  }

  .footer__leftside {
    margin-left: 0px;
    margin-bottom: 15px;
  }

  .footer__middleside {
    margin-bottom: 31px;
    margin-left: 0px;
  }

  .footer__rightside-list {
    margin-left: 5px;
    margin-right: 0px;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .header__container {
    background-size: auto 530px;
    background-position: -90px -30px;
    padding: 16px 35px 0px 35px;
  }

  .menu__list {
    padding: 70px 0 0 105px;
  }

  .hero {
    background-position: -90px -105px;
    background-size: auto 530px;
    max-height: 425px;
  }

  .hero__container {
    padding-left: 35px;
    padding-top: 50px;
    max-width: 400px;
  }

  .skills__content {
    grid-template-columns: 1fr;
    gap: 60px 0px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 530px) {
  h1 {
    font-size: 30px;
    line-height: 60px;
  }

  .header__container {
    background-size: auto 470px;
    background-position: -140px -30px;
    padding: 16px 20px 0 20px;
  }

  .menu__list {
    width: 100vw;
    padding: 70px 0 0 70px;
  }

  .menu__item {
    font-size: 30px;
    line-height: 70px;
  }

  .hero {
    background-position: -140px -105px;
    background-size: auto 470px;
    max-height: 367px;
  }

  .hero__container {
    padding-left: 20px;
    padding-top: 30px;
    max-width: 350px;
  }

  .hero__title {
    margin-bottom: 20px;
  }

  .hero__text {
    margin-bottom: 35px;
  }

  .btn__portfolio {
    width: 180px;
  }

  .btn__portfolio.active {
    width: 180px;
  }

  .contacts {
    display: block;
  }

  .contacts__container {
    display: block;
    text-align: center;
    padding: 0px 20px 0px 20px;
  }

  .input__contacts {
    width: 100%;
  }

  .textarea {
    width: 100%;
  }
}

@media (max-width:390px) {
  .header__container {
    background-size: auto 470px;
    background-position: -240px -30px;
    padding: 16px 15px 0 15px;
  }

  .hero {
    background-size: auto 470px;
    background-position: -240px -105px;
    max-height: 365px;
  }

  .hero__container {
    padding-left: 20px;
    padding-top: 30px;
    width: 100%;
  }

  .container__title::before {
    width: 100%;
  }

  .skills__items {
    width: 100%;
  }

  .btn__portfolio {
    width: 96%;
  }

  .btn__portfolio.active {
    width: 96%;
  }

  .price__card {
    width: 100%;
  }
}