*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'Prompt', sans-serif;
  background: #000;
}

header {
  border-bottom: 5px solid;
  border-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  border-image-slice: 1;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.title__container {
  display: flex;
}

.logo {
  background-image: url('./assets/icons/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  align-self: center;
  filter: invert(1);
}

.title {
  padding-left: 10px;
}

.search__container {
  width: 400px;
  position: relative;
  border-radius: 30px;
}

.search__container::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  border-radius: 34px;
  z-index: -1;
}

/* .search__text:focus {
  background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
} */

.search-text {
  width: 100%;
  position: relative;
  border-radius: 30px;
  padding: 10px 100px 10px 20px;
  font-size: 20px;
  transition: all 0.3s;
  border: none;
}

.search-text:focus {
  outline: none;
}

.search-submit {
  background-image: url('./assets/icons/search.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15%;
  bottom: 0;
  left: 88%;
  right: 0;
  cursor: pointer;
  transition: 0.5s;
}

.search-submit:hover {
  filter: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(7479%) hue-rotate(297deg) brightness(84%) contrast(99%);
}

.image__container {
  max-width: 1440px;
  margin: auto;
}

.column__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
  margin-bottom: 30px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 380px;
  height: 214px;
  border-radius: 15px;
}

footer {
  width: 100%;
  border-top: 5px solid;
  border-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  border-image-slice: 1;
}

.footer__container {
  background-color: #000;
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 7px 50px 7px 50px;
  gap: 20px;
  max-width: 1440px;
  margin: auto;
}

.github {
  color: #fff;
  background-image: url('./assets/icons/github.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  filter: invert(1);
}

.year {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.rsschool-item {
  background-image: url('./assets/icons/rs_school.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 80px;
  filter: invert(1);
}

@media (max-width:650px) {
  .search__container {
    width: 300px;
  }

  .search-text {
    width: 300px;
  }

  .title {
    font-size: 20px;
  }
}

@media (max-width:520px) {
  .header__container {
    flex-direction: column;
    gap: 20px;
  }

  .title {
    font-size: 2em;
  }
}