*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'Prompt', sans-serif;
  background: #000;
}

header {
  border-bottom: 5px solid #ac06ac;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.title__container {
  display: flex;
}

.logo {
  background-image: url('./assets/icons/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 40px;
  align-self: center;
  filter: invert(1);
}

.title {
  width: 370px;
}

.search__container {
  max-width: 400px;
  width: 100%;
  position: relative;
}

.search-text {
  width: 100%;
  border-radius: 25px;
  border: 1px solid #ac06ac;
  box-sizing: border-box;
  outline: none;
  padding: 10px 20px;
  font-size: 20px;
  transition: all 0.3s;
}

.search-submit {
  background-image: url('./assets/icons/search.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15%;
  bottom: 0;
  left: 90%;
  right: 0;
  cursor: pointer;
  transition: 0.5s;
}

.search-submit:hover {
  filter: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(7479%) hue-rotate(297deg) brightness(84%) contrast(99%);
}

.image__container {
  max-width: 1440px;
  margin: auto;
}

.column__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
  margin-bottom: 30px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 380px;
  height: 214px;
  border: 2px solid #ac06ac;
  cursor: zoom-in;
}

.img:focus {
  cursor: zoom-out;
}

footer {
  width: 100%;
  border-top: 5px solid #ac06ac;
}

.footer__container {
  background-color: #000;
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 7px 50px 7px 50px;
  gap: 20px;
  max-width: 1440px;
  margin: auto;
}

.github {
  color: #fff;
  background-image: url('./assets/icons/github.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  filter: invert(1);
}

.year {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.rsschool-item {
  background-image: url('./assets/icons/rs_school.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 110px;
  height: 80px;
  filter: invert(1);
}